<table class="ui fixed striped table">
  <thead>
    <tr>
      <th>Movie:</th>
      <th>Director:</th>
      <th>Duration:</th>
      <th>Genre:</th>
       <th> </th>
    </tr>
  </thead>
  <tbody>
    {{#each collection.movies}}
      <tr>
        <td>
          {{moviename}}
        </td>
        <td>
          {{director}}
        </td>
         <td>
          {{duration}}
        </td>
          <td>
          {{genre}}
        </td>
         <td>
          <a href="/collection/{{../collection.id}}/deletemovie/{{id}}" class="ui icon button delmovie">
          <i class="ui trash icon"></i>
            </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

<p>
  <span id="rating"> </span>
</p>

<button class="ui blue button" id = "rateit">
  Rate it! <i class="star icon"></i>
</button>